In [5]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [11]:
# write your code here ^_^
x = np.ones(5, int)
x

array([1, 1, 1, 1, 1])

## Q#2: Create y array with elements equal to 0.

In [15]:
y = np.zeros(5 , int)
y

array([0, 0, 0, 0, 0])

## Q#3: Add x and y arrays.

In [17]:
# write your code here ^_^
z = np.add(x,y)
z

array([1, 1, 1, 1, 1])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [35]:
# write your code here ^_^
print("dimension is : ",x.ndim)
print("shape is : ", x.shape)
print("siz is : ", x.size)
print("type is : ", x.dtype)

dimension is :  1
shape is :  (5,)
siz is :  5
type is :  int32

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [39]:
# write your code here ^_^
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [76]:
# z = np.arange(1,4)
# z = np.copy(z.T)
# z
z = np.array([1, 2, 3]).reshape(-1, 1)
z

array([[1],
       [2],
       [3]])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [112]:
# write your code here ^_^
newArray = np.hstack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [110]:
for i in newArray :
    for j in i :
        print(j)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [128]:
# write your code here ^_^
rnewArray=np.flip(newArray)
rnewArray

array([[16, 15,  3],
       [14, 13,  2],
       [12, 11,  1]])

## Q#10: Decrement all elements of "newArray" with 1.

In [ ]:
# write your code here ^_^

## Q#11: Find smallest and biggest values in "newArray".

In [ ]:
# write your code here ^_^

## Q#12: Print the first row of "newArray" using indexing.

In [ ]:
# write your code here ^_^

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [ ]:
# write your code here ^_^

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [ ]:
# write your code here ^_^

## Q#15: Change the shape of "newArray" to (9,1).

In [ ]:
# write your code here ^_^

## Q#16: Change the shape of "newArray" to (3,2).

In [ ]:
# write your code here ^_^

# Well Done ðŸŽ‰